<ion-header>
    <ion-toolbar>
        <ion-title>Lista de Poemas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            Poemas
        </ion-list-header>

        <div *ngFor="let poema of poemas | async">
            <ion-item (click)="editar('{{poema.uid}}')">
                <ion-avatar slot="start">
                    <img src="../../../../assets/oeschinesee-suiza.jpg" />
                </ion-avatar>
                <ion-label>
                    <h2>Peoma: {{poema.texto}}</h2>
                    <h2>Autor: {{poema.autor}}</h2>
                    <h2>Autor: {{poema.fecha}}</h2>
                    <h2>Comentarios: {{poema.comentario}}</h2>
                </ion-label>

            </ion-item>
        </div>


    </ion-list>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add-circle" (click)="crear()"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>